@page "{id}"
@model Cookbook.Pages.RecipeDetailsModel
@{
    ViewData["Title"] = "Recipe Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            margin: 0;
            padding: 48px 0;
            font-family: "Figtree", sans-serif;
            font-size: 1.2rem;
            line-height: 1.6rem;
            background-image: linear-gradient(45deg, #7c9885, #b5b682);
            min-height: 100vh;
            text-align: center;
            color: white;
        }

        h2 {
            margin-bottom: 24px;
            font-family: "Bebas Neue", cursive;
            font-size: 4rem;
        }

        p {
            color: black;
        }

        .articles {
            display: grid;
            max-width: 1200px;
            margin-inline: auto;
            padding-inline: 24px;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            gap: 24px;
        }

        article {
            position: relative;
            border-radius: 16px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            background: #fff;
            transition: all 0.4s ease-in-out;
            overflow: hidden;
        }

        .article-wrapper {
            display: flex;
            grid-template-columns: 100px 1fr;
            gap: 16px;
        }

        .article-body {
            padding: 24px;
            min-width: 400px;
            text-align: center; /* İçeriğin ortalanması */
            margin: auto; /* İçeriğin dikeyde ortalanması */
        }

        article a::after {
            position: absolute;
            inset-block: 0;
            inset-inline: 0;
            cursor: pointer;
            content: "";
        }

        article h2 {
            margin: 0 0 18px 0;
            font-family: "Bebas Neue", cursive;
            font-size: 1.9rem;
            letter-spacing: 0.06em;
            color: black;
            transition: color 0.3s ease-out;
        }

        article img {
            max-width: 100%;
            transform-origin: center;
            transform: scale(1.001);
            transition: transform 0.4s ease-in-out;
            border-radius: 16px 16px 0 0;
        }

        article a {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            color: #28666e;
        }

            article a:focus {
                outline: 1px dotted #28666e;
            }

            article a .icon {
                min-width: 24px;
                width: 24px;
                height: 24px;
                transform: translateX(-20px);
                opacity: 0;
                transition: all 0.3s;
            }

        article:hover, article:focus {
            --img-scale: 1.1;
            --title-color: #28666e;
            --link-icon-translate: 0;
            --link-icon-opacity: 1;
        }

        .sr-only:not(:focus):not(:active) {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }
    </style>
</head>
<body>

    <h2>Recipe Details</h2>

    <article>
        <div class="article-wrapper">
            <div class="article-body">
                <h2>@Model.Recipe.Title</h2>
                <p>@Model.Recipe.Description</p>
                <p>Recipe Owner: @Model.Recipe.UserName</p>
            </div>
        </div>
    </article>

    <a href="@Url.Page("Recipes")">Back to Recipes</a>
</body>
</html>
